.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    background-color:rgb(200, 200, 200)
}
.front-header-left {
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100% !important;
} 
.front-header-left .title {
    flex: 1;
    color: #9bbabb;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*页面具体样式自定义*/
.main-content {
    margin: 5px auto;
}
.front-header-nav{
    background-color: #acc3da !important;
}
.card {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    max-height: 115px;
}
.transition{
    cursor: pointer;
    transition: all 0.3s ease;
}
.transition:hover{
    transform: scale(1.05);
}


